{% extends "base.html" %}

{% block title %}
  Paquetes | FastBox Courier
{% endblock %}

{% block content %}

  <div
    class="d-flex justify-content-between align-items-center mb-4"
  >
    <div>
      <h1 class="h3 mb-1">
        Paquetes registrados
      </h1>

      <p class="text-muted mb-0">
        Control de guías, clientes, peso y estado del envío.
      </p>
    </div>

    <a
      href="{% url 'envios:paquete_crear' %}"
      class="btn btn-fastbox"
    >
      Registrar paquete
    </a>
  </div>

  <div class="card">
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">

          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Guía</th>
              <th>Cliente</th>
              <th>Tienda</th>
              <th>Peso</th>
              <th>Costo</th>
              <th>Estado</th>
              <th class="text-end">Acciones</th>
            </tr>
          </thead>

          <tbody>
            {% for paquete in paquetes %}
              <tr>
                <td>{{ paquete.id_paquete }}</td>

                <td>
                  <strong>{{ paquete.guia_fastbox }}</strong>
                </td>

                <td>{{ paquete.cliente }}</td>

                <td>{{ paquete.tienda_origen }}</td>

                <td>{{ paquete.peso_libras }} lb</td>

                <td>${{ paquete.costo_estimado|floatformat:2 }}</td>

                <td>
                  <span class="badge text-bg-secondary">
                    {{ paquete.get_estado_display }}
                  </span>
                </td>

                <td class="text-end acciones-tabla">
                  <a
                    href="{% url 'envios:paquete_detalle' paquete.pk %}"
                    class="btn btn-sm btn-outline-info"
                  >
                    Detalle
                  </a>

                  <a
                    href="{% url 'envios:paquete_editar' paquete.pk %}"
                    class="btn btn-sm btn-outline-warning"
                  >
                    Editar
                  </a>

                  <a
                    href="{% url 'envios:paquete_eliminar' paquete.pk %}"
                    class="btn btn-sm btn-outline-danger"
                  >
                    Eliminar
                  </a>
                </td>
              </tr>

            {% empty %}
              <tr>
                <td
                  colspan="8"
                  class="text-center text-muted py-4"
                >
                  No existen paquetes registrados.
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

    </div>
  </div>

{% endblock %}